/** Font-family **/
@font-face {
  font-family: "Amazon Ember";
  src: url("fonts/amazon-ember-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Amazon Ember";
  src: url("fonts/amazon-ember-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Amazon Ember";
  src: url("fonts/amazon-ember-italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

/** Root **/
* {
  font-family: "Amazon Ember";
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

body {
  background-color: #222;
}

/* Navbar Style */
.navbar {
  background-color: #f3f4f6;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  height: 30px;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 0px 2px rgba(0, 255, 255, 0),
    0px 2px 4px rgba(0, 255, 255, 0.5), 0px 4px 8px rgba(0, 255, 255, 0.5),
    0px 8px 16px rgba(0, 255, 255, 0.5);
}

/* Navigation links Style */
.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 10px;
  cursor: pointer;
}

.nav-links a {
  text-decoration: none;
  color: #777777;
  padding: 2px 2px;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

/*  Hover effect */
.nav-links a:hover {
  color: #efb70f;
}

header {
  background-color: #121212;
  color: #404040;
  padding: 14px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  cursor: pointer;
  margin-bottom: 5px;
  box-shadow: 0px 0px 2px rgba(0, 255, 255, 0),
    0px 2px 4px rgba(0, 255, 255, 0.5), 0px 4px 8px rgba(0, 255, 255, 0.5),
    0px 8px 16px rgba(0, 255, 255, 0.5);
}

h1 {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    #ff5733,
    #ffbd33,
    #33ff57,
    #3391ff
  );
  /* Gradient with multiple colors */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  animation: gradientChange 5s linear infinite;
}

@keyframes gradientChange {
  0% {
    background-position: 0%; /* Start from the left */
  }
  100% {
    background-position: 100%; /* Move to the right */
  }
}

main {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  max-width: 1200px;
  padding: 10px;
  margin-top: 2px;
}

/* Input and Search Button Style */
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 100%;
  margin-top: 15px;
}
.search {
  border: none;
  border-radius: 5px;
  width: 50%;
  margin-right: 10px;
  font-size: 0.9rem;
  padding: 5px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.search:hover {
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.7);
  transform: scale(1.01);
}

.search-btn {
  background-color: #efb70f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 3px 17px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: transform 0.2s;
}

.search-btn:hover,
.search-btn:active {
  background-color: #e8af04f6;
  transform: scale(0.98);
}

.search::placeholder {
  color: #99a1b3;
  font-style: normal;
  font-size: 18px;
  padding: 5px;
  font-family: Arial, sans-serif;
}

.linkedin-follow {
  position: fixed;
  top: 100px;
  right: 16px;
  z-index: 1000;
}
.linkedin-follow a {
  background-color: #0077B5 !important;
  color: white !important;
  font-size: 16px !important;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background 0.3s ease-in-out;
}
.linkedin-follow a:hover {
  background-color: #004182 !important;
}
@media (max-width: 768px) {
  .linkedin-follow {
    top: 125px;
    right: 16px;
  }
  .linkedin-follow a {
    font-size: 13px !important;
    padding: 5px 5px;
    border-radius: 30px;
    max-width: 90px;
    white-space: normal;
    text-align: center;
  }
}




/* News card */
.news-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 5px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.news-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.news-image {
  max-height: 210px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.news-content {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-title {
  font-size: 1.33rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.news-description {
  font-size: 1rem;
  line-height: 1.4;
  color: #333;
  margin-bottom: 1rem;
}
/* Aligned source,published & Readmore to bottom of the newscard */
.news-details {
  display: flex;
  flex-direction: column;
}

.news-source {
  font-size: 0.875rem;
  color: #777;
  margin-bottom: 0.5rem;
}

.news-published-at {
  font-size: 0.875rem;
  color: #777;
  margin-bottom: 0.5rem;
}

.news-read-more {
  font-size: 1rem;
  color: #007acc;
  text-decoration: none;
  transition: color 0.2s;
}

.news-read-more:hover {
  color: #005c99;
}

/* Footer styling */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  font-size: small;
}

.footer-content {
  max-width: 960px;
  margin: 0 auto;
}

.footer-content a {
  color: #fff;
  text-decoration: none;
}

/* Responsive Design for Smaller Screens (up to 600px) */
@media screen and (max-width: 600px) {
  header {
    padding: 0.5rem 0;
  }

  h1 {
    font-size: 1.1rem;
  }

  .navbar {
    font-size: 0.7rem;
    height: 20px;
  }

  #date-time {
    font-size: 0.585rem;
    margin-top: 2px;
    padding-right: 2px;
  }

  .nav-links a {
    font-size: 0.91rem;
  }

  .container {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .news-card {
    max-width: 95%;
  }

  .news-title {
    font-size: 1.2rem;
  }

  .news-description {
    font-size: 1rem;
  }

  .news-source,
  .news-published-at {
    font-size: 0.875rem;
  }

  .news-content {
    padding: 4px;
  }

  footer {
    padding: 3px 0;
    font-size: small;
  }

  .footer-content {
    max-width: 100%;
    padding: 0 5px;
  }
}

/* Responsive Design for Medium Screens (601px to 1000px) */
@media screen and (min-width: 601px) and (max-width: 1000px) {
  header {
    padding: 0.5rem 0;
  }

  h1 {
    font-size: 1.2rem;
  }

  .navbar {
    font-size: 0.85rem;
    height: 25px;
  }

  .nav-links a {
    font-size: 0.95rem;
  }

  #date-time {
    font-size: 0.7rem;
    margin-top: 4px;
    margin-right: 20px;
  }

  .container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
    padding: 5px;
    max-width: 100%;
  }

  .news-card {
    max-width: 100%;
  }

  .news-title {
    font-size: 1.2rem;
  }

  .news-description {
    font-size: 0.95rem;
  }

  .news-source,
  .news-published-at {
    font-size: 0.875rem;
  }

  .news-content {
    padding: 10px;
  }

  footer {
    font-size: small;
  }

  .footer-content {
    padding: 0 10px;
  }
}

@media screen and (max-width: 370px) {
  header {
    padding: 0.5rem 0;
  }

  h1 {
    font-size: 0.79rem;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
  }

  .nav-links a {
    font-size: 0.66rem;
  }

  #date-time {
    font-size: 0.485rem;
    text-align: end;
    margin-top: 2px;
    padding-right: 2px;
  }
  .news-title {
    font-size: 1.15rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .news-description {
    font-size: 0.85rem;
    line-height: 1.4;
    color: #333;
    margin-bottom: 1rem;
  }
}
